
@{
    ViewBag.Title = "Index5";
}

<h2>Index5</h2>

<div>
    <h2>test page</h2>
    <hr />
    @Html.Label("Adınız :")
    @Html.DisplayText("isim")
    <br />
    @Html.Label("Ehliyetiniz varmı :")
    @Html.CheckBox("check")
    <br />
    @Html.Label("Birini seçiniz :")
    @Html.DropDownList("list")
</div>
